@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');

body{
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Roboto Slab', serif;
    background-color: #1C1C1C;
    display: flex;
    justify-content: center;
}
main{
    width: 40vw;
    margin-top: 80px;
    padding: 6px;
    border: 2px solid white;
    text-align: center;
}

.pergunta{
    margin-top: 8px;
    width: 40vw;
    height: 20vh;
}
.opcoes{
    width: 40vw;
    height: 40vh;
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.cor-opcao{
    border-radius: 6px;
    width: 250px;
    height: 100px;
    margin-top: 5px;
}


@media (max-width: 280px){
    main{
        width: 80vw;
        margin-top: 20px;
    }
    .pergunta{
        margin-top: 8px;
        width: 80vw;
        height: 20vh;
    }
    .opcoes{
       margin-bottom: 60px;
       width: 80vw;
    }
    .cor-opcao{
        border-radius: 6px;
        width: 100px;
        height: 50px;
        margin-bottom: 5px;
    }

}


@media (max-width: 600px){
    main{
        margin-top: 20px;
    }
    
    .opcoes{
       margin-bottom: 60px;
    }
    
    .cor-opcao{
        border-radius: 6px;
        width: 220px;
        height: 70px;
        margin-bottom: 5px;
    }

}


@media (max-width: 1024px){
    main{
        margin-top: 20px;
    }
    .opcoes{
       margin-bottom: 90px;
    }
    
    .cor-opcao{
        border-radius: 6px;
        width: 220px;
        height: 70px;
        margin-bottom: 5px;
    }

}
