@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');

body{
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Roboto Slab', serif;
    background-color: #1C1C1C;
    display: flex;
    justify-content: center;
}
main{
    width: 40vw;
    margin-top: 80px;
    padding: 6px;
    border: 2px solid white;
    text-align: center;
}

.pergunta{
    margin-top: 8px;
    width: 40vw;
    height: 20vh;
}
.opcoes{
    width: 40vw;
    height: 40vh;
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.cor-opcao{
    border-radius: 6px;
    width: 250px;
    height: 100px;
    margin-top: 5px;
}
