@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');

body{
    color: white;
    text-transform: uppercase;
    font-family: 'Roboto Slab', serif;
    background-color: #1C1C1C;
    display: flex;
    justify-content: center;
}
main{
    width: 40vw;
    margin-top: 5em;
    padding: 0.5em;
    border: 2px solid white;
    text-align: center;
}

.pergunta{
    margin-top: 0.5em;
    width: 40vw;
    height: 20vh;
}
.opcoes{
    width: 40vw;
    height: 40vh;
    margin-top: 4em;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.cor-opcao{
    border-radius: 6px;
    width: 40%;
    height: 35%;
    margin-top: 5px;
}

@media (max-width: 950px){
    main{
        width: 50vw;
        margin-top:5em;
        font-size: 1.5em;
    }
    .pergunta{
        width: 100%;
        height: 5vh;
    }
    .opcoes{
       width: 100%;
    }
    .cor-opcao{
        width: 70%;
        height: 20%;
    }
   
}


@media (max-width: 600px){
    main{
        width: 70vw;
        height: 85vh;
        margin-top: 2em;
        font-size: 1em;
    }
    .cor-opcao{
        width: 80%;
        height: 30%;
        margin-top: 1.5em;
    }    
}

@media (max-width: 280px){
    .opcoes{
       margin-top: 5em;
    }
    .cor-opcao{
        margin-top: 0.7em;
    }

} 




